:host ::ng-deep {
  .p-toast-message-custom {
    background-color: #abfdd9;
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: black;
    .p-toast-icon-close {
      color: #1ea97c;
    }
  }
}
