<body>
<div class="container">
    <h2>Requisitos Funcionais:</h2>
    <ul>
        <li>Cadastro de cliente com Código, Nome e CNPJ</li>
        <li>Cadastro de Endereço do cliente com localização geográfica</li>
        <li>Vinculação do Endereço ao Cliente</li>
        <li>Visualização dos clientes em um mapa com opções de filtro</li>
    </ul>

    <h2>Requisitos Não Funcionais:</h2>
    <ul>
        <li>O sistema deve ser seguro, garantindo a integridade e confidencialidade das informações</li>
        <li>O sistema deve ser responsivo e fácil de usar</li>
        <li>O sistema deve ter um tempo de resposta rápido</li>
        <li>O sistema deve ser escalável para lidar com um grande número de clientes e endereços</li>
    </ul>

    <h2>Regras de Negócio:</h2>
    <ul>
        <li>Um cliente não pode ser cadastrado sem Nome, CNPJ e Endereço com localização</li>
        <li>Os campos de Código, Nome e CNPJ devem ser obrigatórios no cadastro do cliente</li>
        <li>O endereço do cliente deve conter localização geográfica</li>
        <li>O endereço deve ser vinculado ao cliente no cadastro</li>
        <li>O mapa de visualização dos clientes deve permitir filtrar os clientes por nome, CNPJ e localização
            geográfica
        </li>
    </ul>

    <h2>Considerações Adicionais:</h2>
    <ul>
        <li>O sistema deve permitir o armazenamento de múltiplos endereços para um único cliente, caso necessário</li>
        <li>O sistema deve permitir a atualização dos dados do cliente e endereço, bem como a exclusão dos mesmos</li>

    </ul>
</div>

</body>