<div class="col-12" style="display: flex;padding: 2rem 1rem 1rem 1rem">

    <!--    cliente-->
    <div class="col-4">

        <samp class="format-client-title">Cadastro Cliente</samp>

        <div style="display: flex; width: 100%">
            <div class="field" style=" width: 35%; padding-right: 1rem">
                <label for="input-code" class="block">Código</label>
                <input style=" width: 100%" id="input-code" placeholder="" type="username"
                       aria-describedby="input-code" pInputText [(ngModel)]="cliete.codigo"/>
            </div>
            <div class="field" style=" width: 75%">
                <label for="input-cnpj"  [class]="invalCnpj ? 'v-color-red' : ' ' "  class="block">CNPJ</label>
                <p-inputMask [class]="invalCnpj ? 'ng-invalid ng-dirty w-100' : 'w-100' " [unmask]="true"
                             id="input-cnpj"
                             [(ngModel)]="cliete.cnpj" mask="99.999.999/9999-99"></p-inputMask>
            </div>
        </div>

        <div class="field" style=" width: 100%">
            <label for="input-name" [class]="invalCnpj ? 'v-color-red' : '' " class="block">Nome</label>
            <input style=" width: 100%" id="input-name" [class]="invalCnpj ? 'ng-invalid ng-dirty' : '' " placeholder="" type="username"
                   aria-describedby="username1-help" pInputText [(ngModel)]="cliete.nome"/>
        </div>
        <hr>
        <samp class="format-addres-title">Endereço</samp>

        <div style="display: flex; width: 100%">
            <div class="field" style=" width: 35%;  padding-right: 1rem">
                <label for="input-cep" class="block">CEP</label>
                <p-inputMask [autoClear]="false" [class]="invalCnpj ? 'ng-invalid ng-dirty w-100' : 'w-100' "
                             [unmask]="true"
                             id="input-cep"

                             (onComplete)="getEndereco($event)"
                             [(ngModel)]="cliete.cep" mask="99999-999"></p-inputMask>
            </div>

            <div class="field" style=" width: 35%;">
                <label for="input-state" class="block">Estado</label>
                <input style=" width: 100%" [readOnly]="true" class="no-focus-no-focus" id="input-state" placeholder=""
                       type="username"
                       aria-describedby="input-code" pInputText [(ngModel)]="cliete.estado"/>
            </div>

<!--            <div style="width: 30%">-->
<!--                <label for="input-sector" class="block">Marcar no mapa?</label>-->
<!--                <p-toggleButton style="display: block;margin-top: 8px;margin-left: 27px;" [(ngModel)]="marcarNoMapa" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>-->
<!--            </div>-->

        </div>

        <div style="display: flex; width: 100%">
            <div class="field" style=" width: 50%;  padding-right: 1rem">
                <label for="input-city" class="block">Cidade</label>
                <input [readOnly]="true" class="no-focus-no-focus" style=" width: 100%;" id="input-city" placeholder=""
                       type="username"
                       aria-describedby="input-city" pInputText [(ngModel)]="cliete.cidade"/>
            </div>

            <div class="field" style=" width: 50%;">
                <label for="input-sector" class="block">Setor ou Bairro</label>
                <input style=" width: 100%" [readOnly]="true" class="no-focus-no-focus" id="input-sector" placeholder=""
                       type="username"
                       aria-describedby="input-sector" pInputText [(ngModel)]="cliete.setor"/>
            </div>

        </div>

        <div class="field" style=" width: 100%">
            <label for="input-address" class="block">Endereço</label>
            <input style=" width: 100%" [readOnly]="true" class="no-focus-no-focus" id="input-address" placeholder=""
                   type="username"
                   aria-describedby="input-address" pInputText [(ngModel)]="cliete.endereco"/>
        </div>

        <div class="field" style=" width: 100%">
            <label for="input-complement" class="block">Complemento</label>
            <input style=" width: 100%" id="input-complement" placeholder="" type="username"
                   aria-describedby="input-complement" pInputText [(ngModel)]="cliete.complemento"/>
        </div>


        <button (click)="sendForm()" pButton pRipple type="button" label="Enviar"
                class="p-button-outlined p-button-rounded p-button-sm"></button>


        {{selectedPosition | json}}


    </div>
    <!--    mapa-->
    <div class="col-8" *ngIf="apiLoaded | async">
        <!--        <p-gmap [options]="options" [style]="{'width':'100%','height':'80vh'}"></p-gmap>-->


        <p-gmap #gmap [style]="{'width':'100%','height':'70vh', 'margin-bottom': '1em'}" [options]="options"
                [overlays]="overlays"
                (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)"
                (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

        <button type="button" pButton label="Limpar Maracador" icon="pi pi-times" (click)="clear()"
                style="margin-right:.25em"></button>
        <button type="button" pButton label="Zoom" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())"
                style="margin-right:.25em"></button>
        <button type="button" pButton label="Zoom" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>

        <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="Nova localização"
                  [style]="{width: '300px'}">
            <div class="grid p-fluid" *ngIf="selectedPosition">
                <!--                <div class="col-2"><label for="title">Label</label></div>-->
                <!--                <div class="col-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>-->

                <div class="col-2" style="margin-top: 13px;"><label for="lat">Lat</label></div>
                <div class="col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()">
                </div>

                <div class="col-2" style="margin-top: 13px;"><label for="lng">Lng</label></div>
                <div class="col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()">
                </div>

                <!--                <div class="col-2"><label for="drg">Drag</label></div>-->
                <!--                <div class="col-10"><p-checkbox [(ngModel)]="draggable" id="drg" [style]="{'margin-top':'.25em'}"></p-checkbox></div>-->
            </div>
            <ng-template pTemplate="footer">
                <div>
                    <button type="button" pButton label="Adicionar Marcador" icon="pi pi-plus"
                            (click)="addMarker()"></button>
                </div>
            </ng-template>
        </p-dialog>


    </div>
</div>

<!--<app-map></app-map>-->

