<div style="padding: 3.5rem 2rem 2rem 4rem ">

    <!--  <h5 style="font">Basic</h5>-->
    <!--  <input type="text" pInputText [(ngModel)]="value1">-->
    <!--  <span class="ml-2">{{value1}}</span>-->


    <span class="p-float-label mb-5">
    <input   formControlName="name"  id="code-input" type="text" pInputText [(ngModel)]="cliete.codigo">
    <label for="code-input" class="v-font-format">Código</label>
    </span>
    <span class="p-float-label mb-5">
        <input  required id="name-input" [class]="invalName ? 'ng-invalid ng-dirty' : ' ' " type="text" pInputText [(ngModel)]="cliete.nome">
        <label for="name-input" class="v-font-format">Nome</label>
    </span>
    <span class="p-float-label mb-5">

        <p-inputMask  [class]="invalCnpj ? 'ng-invalid ng-dirty' : ' ' " [unmask]="true" id="cnpj-input" [(ngModel)]="cliete.cnpj" mask="99.999.999/9999-99"></p-inputMask>
        <label for="cnpj-input" class="v-font-format">CNPJ</label>
    </span>

    <button (click)="sendForm()"  pButton pRipple type="button" label="Enviar" class="p-button-outlined p-button-rounded p-button-sm"></button>
</div>

