<div class="v-format-page">
  <p-table [value]="clientes" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>CNPJ</th>
        <th>Name</th>
        <th>City and State</th>
        <th>Sector or Neighborhood</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{client.codigo}}</td>
        <td>{{mascaraCPNJ(client.cnpj)}}</td>
        <td>{{client.nome}}</td>
        <td>{{client.cidade}} - {{client.estado}}</td>
        <td>{{client.setor}}</td>
        <td (click)="openClient(client)" class="cursor-pointer tooltip"><i class="pi pi-user-edit"></i>
          <span class="tooltiptext">Editar cliente</span></td>
      </tr>
    </ng-template>
  </p-table>
</div>
